{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Contact Us</h1>
<hr>
<div class="row">
    <div class="col-sm-6">
        <h3>
            <strong><i class="fa fa-location-arrow mr-1"></i></strong>F-805,asavari,nanded city,sinhgad
            road,pune<br><br>
            <strong><i class="fa fa-phone mr-1"></i></strong> 09689349300<br><br>
            <strong><i class="fa fa-fax mr-1"></i></strong> 07058895002<br><br>
            <strong><i class="fa fa-globe mr-1"></i></strong><a
                href='https://www.facebook.com/swapnil.wagh.7315720'>facebook.com</a><br><br>
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30275.991604824383!2d73.7766644260545!3d18.46104519638273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc29598ebf615a3%3A0x63c4129af9a373da!2sNanded%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1603601837056!5m2!1sen!2sin"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
</div>
{% endblock %}